*{
    margin: 0;
}


/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
}

nav a{
    color: rgb(39, 39, 39);
    text-decoration: none;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif
}

.navy-left a{
    color: rgb(99, 99, 99);
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
}

nav a:hover{
    text-decoration: underline;
}

.navy-left{
    visibility: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navy {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navychild, .navychild2{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
}

.navychild-left{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 20px;
}

.navychild2{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
}

.navychild2{
    width: 100px;
    height: 6px;
    text-align:center;
    background-color: rgb(32, 131, 223);
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.navychild2:hover{
    background-color: rgb(31, 144, 250);
}

.navychild2 a{
    color: white    
}


.logo{
    margin:auto;
    height: 200px;
    max-width: 90vw;
    position:fixed;
    top:0;
    bottom:200px;
    left:0;
    right:0;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 95px;
    font-family: 'Bubblegum Sans', cursive;
    /* font-family: 'Righteous', cursive; */
    font-weight: 500;
    display: flex;
    justify-content: center;
}

form input {
    border: rgb(190, 190, 190) 1px solid;
    border-radius: 100px;
    width: 580px;
    height: 7vh;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

form input:hover {
    box-shadow: 1px 1px 8px #dadada;
}

i{
    position:relative;
    margin: -40px;
    vertical-align:-10%;
}

.fa-search {
    color: rgb(146, 145, 145);
}

.fa-microphone {
    color: rgb(32, 131, 223);
    font-size: 20px;
}

input:hover, input:focus {
    outline: none;
  }

/* Buttons */

.buttons a{
    color: rgb(58, 58, 58);
    text-decoration: none;
    font-size: 14.5px;
    font-family: Arial, Helvetica, sans-serif;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button:hover{
    border: rgb(221, 221, 221) solid 1.5px;
}

.button{
    padding-left: 2%;
    padding-right: 2%;
    height: 35px;
    background-color: rgb(247, 244, 244);
    margin:5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: rgb(247, 244, 244) solid 1.5px;
}

/* Footer */

footer{
    position:fixed;
    left: 0;
    bottom: 0;
}

.footerbox {
    width: 100vw;
    display: flex;
    flex-direction: row;
    border: rgb(221, 221, 221) solid 1px;
    background-color: rgb(247, 244, 244);
    padding: 14px;
}

footer a{
    color: rgb(117, 117, 117);
    text-decoration: none;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 10px;
}

footer a:hover{
    text-decoration: underline;
}

.right{
    position: fixed;
    right: 14px;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/* RESPONSIVE */
@media screen and (max-width: 640px) {

    *{
        width: 100vw;
        height: 100vh;
    }

    .navy-left{
        visibility: visible;
    }

    .navychild{
            display: none;
    }

    .navychild2{
        margin-right: 13px;
        width: 87px;
    }


    h1{
        font-size: 70px;
        padding-bottom: 10px;
    }


    form input {
        width: 95vw;
        height: 40px;
    }

    form input:hover {
        box-shadow: none;
    }

    .buttons{
        display: none;
    }

    .left{
        display: none;
    }

}