html{
    margin-left: 20%;
    margin-top: 8%;
}



i {
    color: rgb(99, 97, 97);
    font-size: 40px;
}

h1{
    font-size: 30px;
}

.err{
    color: rgb(99, 97, 97);
    font-size: 12px;
}

.try{
    font-size: 17px;
}