*{
    margin: 0;
}


/* Navbar */

nav a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.navy{

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navychild, .navychild2{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 20px;
}

.navychild2{
    fill: aqua;
    width: 100px;
    height: 6px;
    text-align:center;
    background-color: rgb(22, 122, 216);
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.navychild2 a{
    color: white    
}


.logo{
/* border: red 1px solid; */
    margin:auto;
    height: 200px;
    max-width: 90vw;
    position:fixed;
    top:0;
    bottom:200px;
    left:0;
    right:0;
    text-align: center;
}

h1{
    text-align: center;
    font-size: 85px;
    font-family: 'Bubblegum Sans', cursive;
    /* font-family: 'Righteous', cursive; */
    color: rgb(66, 66, 221);
    font-weight: 500;
}

form{
    /* border: black 1px solid; */
}

form input {
    border: rgb(146, 145, 145) 1px solid;
    border-radius: 100px;
    width: 40vw;
    height: 6vh;
    padding-left: 50px;
    padding-top: 5px;
}

i{
    position:relative;
    margin: -40px;
}

.fa-search {
    color: rgb(146, 145, 145);
}

.fa-microphone {
    color: rgb(22, 122, 216);
    font-size: 20px;
}

input:hover, input:focus {
    outline: none;
  }